/* Estiliza a lista dos livros, barra de pesquisa e mensagens de erro e carregamento */

/* Estilo do contêiner principal */
.conteiner {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)); /* Layout de grid responsivo */
    gap: 20px; /* Espaçamento entre os livros */
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto; /* Centraliza o contêiner */
}

/* Estilo para o estado de carregamento */
.loading {
    text-align: center;
    font-size: 1.5rem;
    color: #555;
    margin-top: 50px;
}

/* Estilo para o estado de erro */
.error {
    text-align: center;
    font-size: 1.5rem;
    color: #ff0000;
    margin-top: 50px;
}

/* Estilo da barra de pesquisa */
.barraPesquisa {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.inputPesquisa {
    padding: 25px;
    font-size: 1rem;
    border: 1px solid #ffffff;
    outline: none;
    border-radius: 30px;
    width: 500px;
    height: 10px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    margin-right: 10px;
    font-family: Calibri;
}

.botaoPesquisa {
    margin-top: 10px;
    font-size: 1rem;
    background-color: #01babf;
    color: black;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

svg {
    font-size: 1rem; 
}

.botaoPesquisa:hover {
    background-color: #03a4aa;
}

/* Estilo responsivo para telas menores */
@media (max-width: 768px) {
    .conteiner {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Ajusta o layout para telas menores */
        gap: 15px;
        padding: 10px;
    }
}
